h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}
h3 {
  text-align: center;
  border-bottom: 1px solid gray;
  margin:0;
  padding: 20px;
  padding-top: 0px;
}
#my_life{
  border-bottom: 1px solid gray;
  padding-left: 30px;
}
#cal{
  padding-left: 30px;
  border-bottom: 1px solid gray;
}
